
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=League+Spartan:wght@100..900&display=swap');

/* Raiz do html tema do site dark */ 
:root, :root[data-theme='dark'] {
    --primary-color: #b3b3b3; /* cor de texto */ 
    --secondary-bg-color: rgb(255, 255, 255); /* 2º cor de texto */
    --primary-bg-color: #111217; /* cor de fundo */ 
    /* bg= background = plano de fundo */ 
    --text-color-sub-menu: rgb(255, 255, 255); /* cores do menu */ 
    --secondary-bg-color: #28292e; /* cor secundaria do fundo da página */
    --primary-border-color: #28292e; /* cores primarias das bordas */
    --secondary-border-color: #56575a; /* cores secundarias das bordas */

    --title-color: #b3b3b3; /* cores dos titulos */
    --text-color: #b3b3b3; /* cores dos textos */
    --link-color: #bebebe; /* cores dos links */
    --icon-color: #bebebe; /* cores dos icones */ 

}

/* Raiz do html tema do site light */ 
:root [data-theme='light'] {
    --primary-color: #0b0b0f; /* cor de texto */
    --primary-bg-color: #e9e9e9; /* cor de fundo */ 
    --secondary-bg-color: #c7c8c9; 
    --primary-border-color: #c7c8c9; 
    --secondary-border-color: #9a9a9c; 

    --title-color: #0b0b0f; 
    --text-color-: #28292e; 
    --link-color: #28292e;
    --icon-color: #56575a;

}

/* 
definindo variaveis de cores para um tema escuro 

ROOT refere-se ao elemento raiz do documento HTML

seletor :root define as variaveis globais

Isso oferece uma maneira flexivel de definir valores 
que podem ser reutilizados em todo o seu CSS e facilmente atualizadfos de um 
unico lugar 
*/ 

html [data-theme='light'] .brand-logo {
    filter: invert(1);
}
html [data-theme='light'] .tecnologias-logo{
    filter: invert(80%);
}
/* (*) significa reset do CSS */ 
* {
    margin: 0px; /* margem superior */
    padding: 0px; /* preenchimento // espaçamento dos elementos */ 
    box-sizing: border-box; /* tamanho da caixa (nav) */
    vertical-align: baseline; /* alinhamento vertical */ 
    list-style: none; /* estilo de listas (tópicos em disco, números romanos...) */ 
    scrollbar-width: thin; /* compriomento da barra lateral direita */ 
    scrollbar-color: var( --secondary-bg-color) transparent; /* cor da barra */ 
}
body { /* body estilização do corpo */
    background: var( --primary-bg-color);  /* cor do corpo da pagina */ 
    font-family: 'Inter' , Tahoma, Geneva , Verdana, Geneva, Tahoma, sans-serif; /* fonte do texto*/ 
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}
a:hover {
    color: var(--primary-color);
}
i {
    color: var(--icon-color);
}
b {
    font-weight: 400;
}
h1 {
    font-size: 2.5rem;
    font-weight: 200;
}
h2 {
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.4rem;
}
h3 {
    font-size: 1.55rem;
    text-align: left;
}
h4 {
    color: var(--primary-color);
    font-weight: 400;
    font-size: 1.15rem;
    text-align: left;
}
h1, h2, h3 {
    font-family: 'League Spartan', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    color: var(--title-color);
    font-weight: 200;
}
p, span, li {
    font-size: 1rem;
}
p {
    text-align: left ;
}


/* conteudo extra */ 

#header {
    display: flex;
    flex-flow: row wrap;
    /* Coloca o conteúdo em linha e permite a quebra de linha. */
    justify-content: space-between; 
    /* Os itens dentro do container flexível serão distribuídos de maneira uniforme ao longo do eixo principal, com espaços iguais entre eles.  */
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
    z-index: 2;
}
.header-logo .logo {
    width: 3.25rem; /* tamanho da altura */ /* o rem ajuda nos sites responsivos, ajustando o tamanho da tela de acordo com cada dispositivo */
    height: 3.25rem; /* tamanho da largura */
}
.header-toggle { /* sistema do botão sol e lua */ 
    display: flex;
    justify-content: flex-end;
    
}
/* icones */
#toggleTheme {
    font-size: 1.5rem; /* tamanho do botão dark/light */
    color: var(--icon-color); /* cor do icone */
    cursor: pointer; /* cursor do botão */
    transition: ease-in-out .4s; /* efeito do cursor */
}

.menu { /* estilização dos itens do menu principal e menu mobile */
    display: flex;
    align-items: center;
    background: var(--primary-bg-color);
    gap: 1rem;
}
.menu-item { /* espaçamento dos itens dentro do menu */
    width: 100%;
    
}
.menu-link {/* estilização principal do menu mobile, menu principal e icones github */
    display: flex;
    align-items: center;
    gap: .5rem; /* espaço dos itens */
}
.menu-mobile { /* estilização de linha horizontal do menu mobile */
    width: 100vw; /* visualização em tamanho unico de 100 em qualquer dispositivo, adaptação */
    position: fixed; /* posição do menu */
    bottom: 0;
    justify-content: space-between; 
    border-top: 1px solid var(--primary-border-color)
    
}
.menu-mobile .menu-link { /* estilização do link dentro do menu mobile */
    flex-direction: column; /* define a direção dos itens em uma coluna vertical */
    justify-content: center;
    padding: 0.5rem 1rem;
}
.menu-link.active .menu-icon,
.menu-link.active .menu-text, 
.menu-link:hover .menu-icon,
.menu-link:hover .menu-text {
    color: var(--primary-color);
}

.menu-icon, .menu-text {
    color: var(--text-color);
}

.menu-icon { /* estilização do tamanho da fonte do menu mobile */
    font-size: 1.5rem;
}
.menu-text { /* estilização do tamanho da fonte do menu principal e menu mobile */
    font-size: .75rem;
    text-transform: uppercase;
}
.header-nav {       /* menu desktop */
    display: center;
}
.menu-principal { /* espaçamento dos icones do menu principal */
    gap: 1rem;
}
.menu-social {
    gap: 1rem;
}
.btn { /* estilização principal do botão ver projetos */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    width: 100%;
    background: transparent;
    border-radius: 3rem;
    border: none;
    padding: 0.5rem 1.5rem;
    transition: ease-in-out .3s;
    cursor: pointer;
    color: var(--primary-color);
}
.btn:hover { /* estilização do hover do botão ver projetos */
    transform: scale(1.05);
    transition: ease-in-out .3s;
}
.btn span, .btn i { /* estilização do tamahho da fonte do botão ver projetos */
    font-size: 1.25rem;
    text-transform: uppercase;
}
.btn-primary span { /* estilização da cor do botão ver projetos */
    color: var(--primary-color);
}
.btn-primary { /* estilização da borda do botão ver projetos */
    border: 1px solid var(--primary-color);
}
#home { /* estilização do container do video */
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.main-content { /* estilização do container pai (h1, h2, h3 e video) */
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.video iframe { /* estilização do tamanho do video dentro do container */
    width: 100%;
    aspect-ratio: 16/9;
}
#home, .projetos, .sobre, .contato { /* estilização da distancia dos conteudos da borda da pagina */
    padding: 2.5rem 1rem;
}
.tecnologias { /* estilização dos icones html, css... */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.25rem;
    padding: 6.25rem 1rem 2rem;
    background: var(--secondary-bg-color);
    margin-top: -5.5rem;
}
.tecnologias h2 { /* estilização do h2 (conhecimentos nas principais... */
    font-size: 2rem;
    text-transform: none;
    letter-spacing: normal;
    text-align: start; /* alinhamento da esquerda para direita */
}
.tecnologias-lista { /* estilização de espaçamento dos icones das tecnologias */
    display: flex;
    flex-flow: row wrap;
    gap: .5rem;    
}
.tecnologias-item { /* estilização dos icones item tecnologias */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 4.8rem;
    height: 4.8rem;
    border: 3px solid var(--secondary-border-color);
    border-radius: 5rem;
}
.tecnologia-logo { /* estilização do logo das tecnologias */
    height: 2.4rem;
}
.projetos { /* <section id="projetos" class="projetos"> */
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.projetos-container { /* <div class="projetos-container"> */
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.projetos-card, .projetos-card-reverse { /*  <div class="projetos-card"> */
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.card-cover { /* <img class="card-cover" src="img/projetos/josisbox.jpg" alt=""> */
    width: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
    object-position: center;
}
.card-body { /* <div class="card-body"> */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 1rem;
}
.card-title { /* <h3 class="card-title"> Josi's Box Ecommerce </h3> */
    font-size: 2rem;
    color: var(--title-color);
    font-weight: 500;
}
.card.descricao { /* <p class="card-descricao"> Ecommerce de Livros </p> */
    color: var(--text-color);
}
.card-lista , .sobre-lista {
    margin-left: 1.25rem;
}
.card-item, .sobre-item {
    list-style-type: disc;    
}
.card-button , .card-descricao {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.card-button .btn {
    padding: .65rem 1.25rem;
}
.card-button .btn span {
    font-size: 1rem;
}
.card-body .tecnologias-lista {
    gap: .75rem;
}
.card-body .tecnologias-item {
    width: 4rem;
    height: 4rem;
}
.card-body .tecnologia-logo {
    height: 2rem;
}
.projetos-btn { /* <span> Ver Todos os Projetos</span> */
    width: auto;
    margin: auto;
}
.sobre { /* <section id="#sobre" class="sobre"> */    
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.sobre-content1, .sobre-content2 { /* <div class="sobre-content1"> ... <div class="sobre-content2"> */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
}
.sobre-logo { /* <img class="sobre-logo" src="img/dk.png" alt=""> */
    width: 50%;
    object-fit: cover;
    object-position: center;
    pointer-events: none; /* bloqueia as interações com a imagem */
    border-radius: 50rem;
    border: 1px solid var(--primary-color);
}
.sobre-descricao { /* <div class="sobre-descricao"> */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;
}
.sobre-icones { /* <div class="sobre-icones"> */
    display: flex;
    align-items: center;
    gap: 1.25rem;
}
.sobre-icones i { /* <i class="bi bi-translate"> </i> */
    font-size: 1.25rem;
}
.sobre-content2 .col1, /* <div class="sobre-content2"> <div class="col1"> <div class="col2"> */
.sobre-content2 .col2 {
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 2rem;
}
.sobre-content2 .col1 .row1, /* <div class="row1"> <div class="row2"> */
.sobre-content2 .col1 .row2 { 
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.accordion-header { /* <button class="accordion-header start"> */
    width: 100%;
    display: flex;
    padding: 0.75rem 1rem;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--primary-border-color);
    background: transparent;
    text-align: left;
    cursor: pointer;
    transition: ease-in-out 3s;
}
.accordion-header span { /* <button class="accordion-header start"> span */
    color: var(--title-color);
}
.accordion-header.start { /* <button class="accordion-header start"> */
    border-radius: 0.25rem 0.25rem 0rem 0rem;
}
.accordion-header.end, /*  <button class="accordion-header end"> */
.accordion-item.active .accordion-body.end { /* <div class="accordion-item active"> <div class="accordion-body end"> */
    border-radius: 0rem 0rem 0.25rem 0.25rem;
}
.accordion-item.active .accordion-item.end { 
    border-radius: 0;
}
.accordion-body {
    display: none;
    padding: 1.25rem;
    flex-direction: column;
    align-items: flex-start;
    gap: .625rem; 
    border: 1px solid var(--primary-border-color);
}
.accordion-item.active .accordion-header {
    background: var(--secondary-bg-color);
}

.accordion-item.active .accordion-body {
    display: flex;
}
.accordion-item.active .bi-caret-down-fill {
    transform: rotate(180deg);
}

/* Contato rodapé */
.contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border-top: 1px solid var(--primary-border-color);
    border-bottom: 1px solid var(--primary-border-color);
}
.contato p {
    text-align: center;
}
.contato .btn {
    width: auto; /*  */
}
.contato .email {
    text-transform: uppercase;
}
/* Rodapé */
footer {
    margin-bottom: 5rem;
}
footer p {
    font-size: .875rem;
    text-align: center;
    padding: 1rem;
}

/* Responsividade */
@media (min-width: 768px) {
    #header {
        position: fixed;
        border-bottom: 1px solid var(--primary-border-color);
        padding: 1rem 6rem;
        background: var(--primary-bg-color);
    }
    .nav-mobile {
        display: none;
    }
    .header-nav {
        display: flex;
    }
    .header-nav, 
    .header-toggle {
        min-width: 30%;
    }
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 3rem;
    }
    #home, .projetos, .sobre {
        padding: 8rem 6rem 4rem 6rem;
    }
    .main-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .tecnologias {
        padding: 6.25rem 6rem 2rem 6rem;
        margin-top: -6rem;
    }
    .contato {
        padding: 6rem;
    }
    .contato p {
        width: 80%;
    }
    footer {
        margin: 0;
    }
}

@media (min-width: 992px) {
    .projeto-card {
        flex-direction: row;
    }
    .projeto-card.card-reverse {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .card-cover {
        width: 55%;
    }
    .sobre {
        gap: 5rem;
    }
    .sobre-content1, .sobre-content2 {
        display: grid;
        grid-template-columns: 40% 80%;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 4rem;
    }
    .sobre-descricao h2 {
        text-align: left;
    }
    .descricao-button {
        justify-content: flex-start;
    }
}
@media (min-width: 1200px) {
    h2 {
        font-size: 4rem;
    }
    h3 {
        font-size: 2.5rem;
    }
    #home {
        padding: 10rem 6rem 2rem;
    }
    .main-content .btn {
        width: auto;
    }
    .tecnologias {
        flex-direction: row;
        justify-content: space-between;
        padding: 10rem 6rem 4rem;
    }
    .tecnologias h2 {
        font-size: 3rem;
        width: 55%;
    }
    .tecnologias-lista {
        gap: 1rem;
    }
    .tecnologias-item {
        width: 6rem;
        height: 6rem;
    }
    .tecnologia-logo {
        height: 3rem;
    }
    p, span, li {
        font-size: 1.15rem;   
    }
    .card-button .btn,
    .descricao-button .btn {
        width: auto;
    }
}

@media (min-width: 1400px) {
    h1 {
        font-size: 6.25rem;
    }
    h2 {
        font-size: 4.5rem;
    }
    h3 {
        font-size: 3.25rem;
    }
    .header {
        padding: 12rem 15rem 2rem;
    }
    .tecnologias, .projetos, .sobre {
      padding: 10rem 15rem 4rem;  
    }
}